<div class="upload-container">
  <h2>Upload de Documento de Requisitos</h2>
  <h3>Clique ou arraste para carregar um arquivo</h3>
  <p>Formatos permitidos: {{ ALLOWED_TYPES.join(', ') }}</p>

  <input type="file"
         (change)="onFileSelected($event)"
         accept=".pdf,.docx,.txt"
         class="file-input"
         id="file-upload-button"
  >

  @if (selectedFile) {
    <div class="file-info">
      <span>{{ selectedFile.name }} ({{ (selectedFile.size / 1024 / 1024).toFixed(2) }} MB)</span>
      <button (click)="onUpload()"
              [disabled]="uploadStatus === 'uploading'"
              class="send-button">

        @if (uploadStatus !== 'uploading') {
          <span>Enviar para o Backend</span>
        }

        @if (uploadStatus === 'uploading') {
          <span>Enviando...</span>
        }
      </button>
    </div>
  }

  @if (message) {
    <div [ngClass]="{'success-msg': uploadStatus === 'success', 'error-msg': uploadStatus === 'error', 'pending-msg': uploadStatus === 'pending' || uploadStatus === 'uploading'}">
      {{ message }}
    </div>
  }
</div>
