@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* CORES BASE E DE FUNDO */
  --color-white: #ffffff;
  --color-dark-text: #2c3e50;
  --color-light-text: #607289;
  --color-neutral: #aeb6c4;

  --color-background: #fcfcfd;
  --color-sidebar-bg: #ffffff;
  --color-card-bg: #ffffff;

  --color-border-light: #eceef1;


  /* CORES DE AÇÃO / DESTAQUE */
  --color-primary: #5c6bc0;
  --color-primary-hover: #4856a3;
  --color-secondary: #ff6e40;
  --color-new-badge: #e57373;

  /* Cores Semânticas */
  --color-success: #388e3c;
  --color-error: #d32f2f;
  --color-pending: var(--color-secondary);

  /* DIMENSÕES E ESPAÇAMENTO */

  --border-radius-card: 16px;
  --border-radius-small: 8px;
  --border-radius-pill: 9999px;

  --spacing-xl: 3rem;
  --spacing-l: 2rem;
  --spacing-m: 1.5rem;
  --spacing-s: 1rem;
  --spacing-xs: 0.5rem;


  /* SOMBRAS */
  --shadow-sidebar: 0 0 10px rgba(0, 0, 0, 0.03);
  --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.05);
  --shadow-button: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-card-hover: 0 8px 25px rgba(0, 0, 0, 0.08);
}

/* 🏷️ RESET E BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  color: var(--color-dark-text);
  background-color: var(--color-background);
  min-height: 100vh;
}
